@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans');
body {
	margin: 0;
	background-color: #efefef;
	/*width: 90%; 
	margin-top:0;
	margin-bottom:0;
	margin-left: auto;
	margin-right: auto;*/
}

.header {
	display:flex;
	justify-content:center;
	align-items:center;
	height: 210px;
	width: 100%;
	background-color: #5F4BB6;	
}


h1 {
	margin: 0;
	font-family:'Montserrat';
	color: #f7f7f7;
	font-size: 48px;
	transition: all .3s ease-in-out;
	/*padding-top: 30px;
	padding-bottom:30px;*/
}

h1:hover {
	transform: scale(1.4);
}

h2 {
	margin-left:3%;
}

p {
	margin-left:5%;
	margin-right:5%;
	line-height:1.5em;
}

img {
	width:100%;
	transition: transform .8s ease-in-out;
}

img:hover{
    transform:rotate(360deg);
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans'
}

.navbar {
	position: absolute;
	margin-right:auto;
	width: 15%;
}

ul {
	list-style:none;
	padding:0;
}

li {
	padding-bottom:10px;
	text-align:center;
}

.content {
	width: 80%;
	margin-left:auto;
}

.meat {
	background-color: lightsteelblue;
	border-radius:5px;
}

.footer {
	position: fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	left:0px;
	bottom:0px;
	height: 30px;
	width:100%;
	font-family: 'Noto Sans';
	background-color:#ccc;
}

a {
	text-decoration:none;
}

a:link {
    color:#19647E;
}	

a:visited {
    color:#3D0C11;
}

a:hover,
a:active {
    color:#1D3461;
}



