@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    background-color:#f7f7f7;
}

body {
    font-family: "Open Sans", "Helvetica", sans-serif;
    width: 50%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: #EDF2F4;
}

h1 {
    text-align: center;
    color: #2C5784;
}

h3 {

}

h2 {

}